@import './variables.scss';

.is-circle {
    border-radius: 100%;
}

.is-add-button {
    width: 4.3rem;
    height: 4.3rem;
    position: fixed;
    bottom: 1.8rem;
    margin-left: -2rem;
    background: black;
    color: white;
    border: 4px solid white;
    font-size: 1.8rem;
}

.is-add-button:hover {
    color: white;
}


.plusButton:active {
  box-shadow: -1px -1px 4px 0px black,
              1px 1px 3px 0px rgb(133, 133, 133);
}
.commentButton {
    position: fixed;
    bottom: 0.1rem;
    right: 3.5rem;
    height: 2.5rem;
    width: 8vw;
    max-width: 10rem;
    border-radius: 10px;
}


@media (max-width: $tablet) {
    .commentButton {
        width: 14vw;
        right: 0.7rem;
    }
}

@media (min-width: $tablet) {
    .commentButton {
        right: 0.2rem;
    }
}