@import './main.scss';

.is-bigger {
    font-size: 2.5rem;
}

.is-vote-icons {
    position: relative;
    left: 62%;
    top: 0rem;
    font-size: 1.1rem;
    pointer-events: initial;
}

.upvote,
.downvote {
    color: $warning;
}

.fa-book-open {
    color: $danger;
    position: relative;
    top: 0.1rem;
}

.is-crown {
    color: $warning;
    font-size: 1.2rem;
}

.is-option-icon {
    position: relative;
    top: -2rem;
    font-size: 1.5rem;
}
.is-comment-text {
    font-family: avenir;
    font-weight: 500;
}
.is-clear-icon {
    font-size: 1.4rem;
    pointer-events: initial !important;
}
.is-flag-icon {
    position: absolute;
    right: 1rem;
    top: 0.6rem;
    color: $danger;
}
.dropdownIcon {
    font-size: 1.2rem;
}
@media (max-width: $tablet) {
    .is-crown {
        left: -0.8rem;
        top: 0.5rem;
    }
    .is-option-icon {
        top: -0rem;
    }
    .is-vote-icons {
        left: 61.5%;
        top: 1rem;
        font-size: 1.27rem;
    }
}