@import './variables.scss';

.is-router-link {
    color: $black;
}
.is-router-link:visited {
    color: $black;
}
.is-log-in-buttons {
    position: fixed;
    top: 0.55rem;
    right: 2rem;
}
.navbar-burger {
    position: relative;
    top: 0.05rem;
    right: 0.2rem;
}
.navbar {
    height: 3.7rem;
}
@media (max-width: 1300px) {
    .is-log-in-buttons {
        position: relative;
        top: 0rem;
        right: 0rem;
    }
    .navbar.is-fixed-top .navbar-menu, .navbar.is-fixed-top-touch .navbar-menu {
        margin-top: -0.3rem;
    }
}

.is-log-in-button {
    border-radius: 20px;
    width: 7rem;
}

.navbar-item {
    font-size: 1.3rem;
}
.navbar-burger:hover {
    background-color: white;
}

@media (min-width: 1300px) {
    .navbar-start {
        margin-left: 1rem;
    }
}