$mainBackground: rgb(0, 0, 0);
$primary: #111f2b;
$primaryOld: #1C3144;
$warning: #ffba08;
$danger: #d00000;
$success: #45CB85;
$info: #3f88c5;
$modalBackground: #0f1a24;
$black: #000000;
$mobile: 500px;
$tablet: 769px;
$desktop: 1300px;
