$mainBackground: rgb(0, 0, 0);
$primary: #000b15;
$primaryOld: #1C3144;
$warning: #caa548;
$warningOld: #ffba08;
$danger: #d00000;
$success: #5ec283;
$successOld: #45CB85;
$info: #6ba5c9;
$infoOld: #3f88c5;
$modalBackground: #0f1a24;
$black: #000000;
$mobile: 500px;
$tablet: 769px;
$desktop: 1300px;
$white: white;
